// General styles for base elements

html {
  // Normalize font appearance
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  // Set behavior for overflow scroll on mobile
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

img {
  // Responsive images by default
  max-width: 100%;
  height: auto;
}

label {
  @extend .small;
  font-weight: $font-weight-bold;
}

textarea {
  min-height: 120px;
}