// Layout styles

#wrapper {
  overflow-x: hidden;

  &.toggled {

    #sidebar-wrapper {
      margin-left: 0;
    }
  }
}

#sidebar-wrapper {
  min-height: 100vh;
  // margin-left: -265px;
  margin-left: (-$sidebar-width);

  .sidebar-heading {
    padding: 0.875rem 1.25rem;
  }

  .main-menu {
    width: $sidebar-width;

    &__item {
      @extend .nav-item;

      &.active {
        
        .main-menu__link {
          color: $white;
          background: $gray-900;
        }
      }
    }
      
    &__link {
      @extend .nav-link;
      @extend .text-uppercase;
      color: $gray-300;
      font-weight: $font-weight-bolder;
      letter-spacing: 1.13px;
      font-size: 0.78rem;
      transition: $transition background;

      .fa {
        font-size: 1rem;
      }

      &:hover,
      &:active,
      &:focus {
        color: $gray-300;
        background-color: lighten($gray-900, 7%);
        transition: $transition background;
      }

      &.active {
        color: $white;
        background: $gray-900;
      }
    }

    &__line {
      margin: 2rem 1.25rem;
      border-top: 1px solid rgba($white, 0.12);
    }
  }
}

#page-content-wrapper {
  min-width: 100vw;
}

@include media-breakpoint-up(md) {
  
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: (-$sidebar-width);
  }
}